[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/gcad3d
Icon=/usr/share/gcad3d/icons/gCAD3D.xpm
Name=gCAD3D
Type=Application
Categories=GTK;Application;Graphics;VectorGraphics;Viewer;
GenericName[de]=CAD-CAM-Anwendung
GenericName[en]=CAD-CAM-Application
