[Desktop Entry]
Encoding=UTF-8
Name=gCAD3D
GenericName=CAD-CAM-Application
Comment=3D CAD CAM design tool
Exec=gcad3d
Icon=gCAD3D
Type=Application
Categories=GTK;Graphics;
Terminal=false


# Translations
GenericName[de]=CAD-CAM-Anwendung
Name[de]=gCAD3D
Icon[de]=gCAD3D
Comment[ru]=3D САПР
GenericName[ru]=САПР
Name[ru]=gCAD3D
Icon[ru]=gCAD3D
