[Desktop Entry]
Name=gCAD3D
GenericName=CAD-CAM-Application
Comment=3D CAD CAM design tool
Exec=gcad3d
Icon=gcad3d
Type=Application
Categories=GTK;Graphics;3DGraphics;Engineering;
Terminal=false
Keywords=3D;CAD;CAM;design


# Translations
Comment[gl]=Ferramenta de deseño 3D CAD CAM
Icon[gl]=gcad3d
Name[gl]=gCAD3D
GenericName[gl]=Aplicación-CAD-CAM
Comment[es_419]=Herramienta de diseño 3D CAD CAM
Icon[es_419]=gcad3d
Name[es_419]=gCAD3D
GenericName[es_419]=Aplicación CAD-CAM
Comment[pt]=Ferramenta de design 3D CAD CAM
Icon[pt]=gcad3d
Name[pt]=gCAD3D
GenericName[pt]=Aplicação-CAD-CAM
Comment[ru]=3D САПР
Icon[ru]=gcad3d
Name[ru]=gCAD3D
GenericName[ru]=САПР
Comment[zh_HK]=3D CAD CAM 設計工具
Icon[zh_HK]=gcad3d
Name[zh_HK]=gCAD3D
Comment[is]=3D CAD CAM hönnunarforrit
Icon[is]=gcad3d
Name[is]=gCAD3D
GenericName[is]=CAD-CAM-forrit
Comment[it]=Strumento di progettazione 3D CAD-CAM
Icon[it]=gcad3d
Name[it]=gCAD3D
GenericName[it]=Applicazione-CAD-CAM
Icon[de]=gcad3d
Name[de]=gCAD3D
GenericName[de]=CAD-CAM-Anwendung
Comment[es]=3D CAD CAM herramienta de diseño
Icon[es]=gcad3d
Name[es]=gCAD3D
GenericName[es]=CAD-CAM-Aplicación
Comment[uk]=Засіб для просторової розробки і моделювання
Icon[uk]=gcad3d
Name[uk]=gCAD3D
GenericName[uk]=Програма для CAD-CAM
Comment[ms]=Alat rekabentuk CAM CAD 3D
Icon[ms]=gcad3d
Name[ms]=gCAD3D
GenericName[ms]=CAD-CAM-Application
Comment[fa]=ابزار طراحی 3D CAD CAM
Icon[fa]=gcad3d
Name[fa]=gCAD3D
GenericName[fa]=CAD-CAM-نرم افزار
Comment[fr]=3D CAD CAM outil de design
Icon[fr]=gcad3d
Name[fr]=gCAD3D
GenericName[fr]=CAD-CAM-Application
