[Desktop Entry]
Encoding=UTF-8
Name=gCAD3D
GenericName=CAD-CAM-Application
Comment=3D CAD CAM design tool
Exec=gcad3d
Icon=gcad3d
Type=Application
Categories=GTK;Graphics;3DGraphics;Engineering;
Terminal=false


# Translations
GenericName[de]=CAD-CAM-Anwendung
Name[de]=gCAD3D
Icon[de]=gcad3d
Comment[ru]=3D САПР
GenericName[ru]=САПР
Name[ru]=gcad3d
Icon[ru]=gCAD3D
